:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: rgb(231, 245, 255);
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --shadow-btn: #59491e29;
  --gray-text: #757575;
  --gray-features: #808080;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header-img {
  width: 150px;
  height: 24px;
  margin-top: 39px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 36px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-title h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.header-title p {
  color: var(--off-white);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 32px;
}

.header-title .header-button {
  background: var(--off-white);
  border: none;
  border-radius: 5px;
  color: var(--warm-black);
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  height: 48px;
  width: 229px;
  position: absolute;
  top: calc(100% - (48px/2));
  left: calc(50% - (229px/2));
  -webkit-box-shadow: 0 4px 8px var(--shadow-btn);
          box-shadow: 0 4px 8px var(--shadow-btn);
}

.header-title .header-button span {
  display: inline-block;
  background: url("../icons/down-arrow.svg");
  margin-left: 10px;
  height: 8px;
  width: 13px;
}

main {
  background: var(--off-white);
  height: auto;
  width: 100%;
}

main .exchange {
  padding-top: 24px;
  height: auto;
  width: 100%;
  text-align: center;
}

main .exchange-background-img {
  background-image: url("../img/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px auto;
  height: 200px;
  width: 200px;
}

main .exchange-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

main .exchange-title h2 {
  color: var(--warm-black);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 24px;
}

main .exchange-title p {
  color: var(--gray-text);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 48px;
}

main .exchange-tables {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 24px;
}

main .exchange-tables .table-currency {
  margin: 0 auto;
  height: 360px;
  min-width: 235px;
  max-width: 500px;
  width: 70%;
  font-family: 'Inter', sans-serif;
}

main .exchange-tables .table-currency-title {
  display: -ms-grid;
  display: grid;
  color: var(--bitcoin-orange);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.344rem;
  margin-bottom: 12px;
  min-width: 230px;
  max-width: 300px;
  width: 90%;
}

main .exchange-tables .table-currency-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100px 95px;
      grid-template-columns: 100px 95px;
  -ms-grid-rows: (39px)[4];
      grid-template-rows: repeat(4, 39px);
  margin: 0 auto;
  min-width: 230px;
  max-width: 300px;
  width: 90%;
  justify-content: center;
}

main .exchange-tables .table-currency-container div {
  background-color: var(--just-white);
}

main .exchange-tables .table-currency-container div.table-currency-top-left {
  border-radius: 15px 0 0 0;
}

main .exchange-tables .table-currency-container div.table-currency-top-right {
  border-radius: 0 15px 0 0;
}

main .exchange-tables .table-currency-container div.table-currency-bottom-left {
  border-radius: 0 0 0 15px;
}

main .exchange-tables .table-currency-container div.table-currency-bottom-right {
  border-radius: 0 0 15px 0;
}

main .exchange-tables .table-currency-container div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b5b0ac;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.936rem;
  padding: 10px 12px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .exchange-tables .table-currency-container div h5 {
  color: var(--gray-text);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.694rem;
  padding: 11px 12px;
}

main .exchange-tables .table-currency-container div h5 span {
  display: inline-block;
  margin-left: 10px;
  height: 15px;
  width: 15px;
}

main .exchange-tables .table-currency-container div h5 span.currency-down {
  background: url("../icons/trending-down.svg") center/cover no-repeat;
}

main .exchange-tables .table-currency-container div h5 span.currency-up {
  background: url("../icons/trending-up.svg") center/cover no-repeat;
}

main .exchange-tables .table-currency-date {
  background-color: var(--soft-orange);
  color: var(--warm-black);
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.452rem;
  margin: 16px auto;
  padding: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .exchange-tables .table-currency-date span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.936rem;
}

main .exchange-tables .table-commissions {
  margin: 0 auto;
  height: 360px;
  min-width: 235px;
  max-width: 500px;
  width: 70%;
  font-family: 'Inter', sans-serif;
}

main .exchange-tables .table-commissions-title {
  display: -ms-grid;
  display: grid;
  color: var(--secondary-blue);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.344rem;
  margin-bottom: 12px;
  min-width: 230px;
  max-width: 300px;
  width: 90%;
}

main .exchange-tables .table-commissions-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100px 95px;
      grid-template-columns: 100px 95px;
  -ms-grid-rows: (39px)[4];
      grid-template-rows: repeat(4, 39px);
  margin: 0 auto;
  min-width: 230px;
  max-width: 300px;
  width: 90%;
  justify-content: center;
}

main .exchange-tables .table-commissions-container div {
  background-color: var(--just-white);
}

main .exchange-tables .table-commissions-container div.table-currency-top-left {
  border-radius: 15px 0 0 0;
}

main .exchange-tables .table-commissions-container div.table-currency-top-right {
  border-radius: 0 15px 0 0;
}

main .exchange-tables .table-commissions-container div.table-currency-bottom-left {
  border-radius: 0 0 0 15px;
}

main .exchange-tables .table-commissions-container div.table-currency-bottom-right {
  border-radius: 0 0 15px 0;
}

main .exchange-tables .table-commissions-container div h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b5b0ac;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.936rem;
  padding: 10px 12px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .exchange-tables .table-commissions-container div h5 {
  color: var(--gray-text);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.694rem;
  padding: 11px 12px;
}

main .exchange-tables .table-commissions-date {
  background-color: var(--soft-blue);
  color: var(--warm-black);
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.452rem;
  margin: 16px auto;
  padding: 8px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .exchange-tables .table-commissions-date span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.936rem;
}

main .features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--warm-black);
  color: var(--gray-features);
  font-family: "DM Sans", sans-serif;
  padding: 64px 16px 32px;
  height: auto;
  width: 100%;
  min-width: 320px;
}

main .features span.logo {
  position: absolute;
  width: 40px;
  height: 30px;
  top: calc(0% - 15px);
  left: calc(50% - 20px);
  background-image: url("../icons/batata.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

main .features-title {
  text-align: center;
}

main .features-title h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

main .features-title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 24px;
  margin-bottom: 32px;
}

main .features-cards {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
}

main .features-cards .card {
  background: var(--black);
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 8px #00000029;
          box-shadow: 0px 4px 8px #00000029;
  min-height: 150px;
}

main .features-cards .card span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .features-cards .card span.clock {
  background-image: url("../icons/clock.svg");
}

main .features-cards .card span.eye {
  background-image: url("../icons/eye.svg");
}

main .features-cards .card span.dollar {
  background-image: url("../icons/dollar-sign.svg");
}

main .features-cards .card span.check {
  background-image: url("../icons/check-circle.svg");
}

main .features-cards .card-title {
  color: var(--just-white);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6rem;
}

main .features-cards .card-content {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 10px;
  margin-bottom: 6px;
}

main .wildcard {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../img/bitcoinbaby2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .wildcard h2 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  padding-top: 64px;
  text-align: center;
}

main .plans {
  background: var(--off-white);
  text-align: center;
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

main .plans-title {
  margin: 64px auto 32px;
  width: 90%;
  min-width: 288px;
  max-width: 900px;
}

main .plans-title h2 {
  color: var(--warm-black);
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 2.6rem;
}

main .plans-title p {
  color: var(--gray-text);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-top: 24px;
}

main .plans-content {
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  margin: 0px 10px;
}

main .plans-content .slider {
  margin: 50px 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  width: 70%;
}

@media screen and (min-width: 599px) {
  main .plans-content .slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px auto 64px;
  }
}

main .plans-content .plans-content-slider {
  position: relative;
  padding-top: 1px;
  background: var(--just-white);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
          box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  scroll-snap-align: center;
  margin: 0 5px;
}

main .plans-content .plans-content-slider .recommendation {
  background: var(--bitcoin-orange);
  color: var(--just-white);
  padding: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.452rem;
  border-radius: 8px;
  position: absolute;
  top: calc(0% - 16px);
  left: calc(50% - 50px);
  width: 100px;
}

main .plans-content .plans-content-slider .payment-plans {
  font-family: 'Inter', sans-serif;
  margin: 32px 16px 24px;
}

main .plans-content .plans-content-slider .payment-plans h3 {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6rem;
  margin: 0 auto;
}

main .plans-content .plans-content-slider .payment-plans-price {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  letter-spacing: -3px;
  margin: 8px auto;
  position: relative;
  width: 64px;
}

main .plans-content .plans-content-slider .payment-plans-price span {
  color: var(--gray-text);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
}

main .plans-content .plans-content-slider .payment-plans-discount {
  color: var(--gray-text);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  padding: 0px 4px;
}

main .plans-content .plans-content-slider .payment-plans button {
  color: var(--warm-black);
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.823rem;
  margin: 16px auto;
  display: inline-block;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  width: 150px;
  height: 48px;
}

main .plans-content .plans-content-slider .payment-plans button span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: var(--bitcoin-orange);
  background-image: url("../icons/orange-right-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
  vertical-align: text-bottom;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--bitcoin-orange);
  color: var(--just-white);
  width: 100%;
  height: 150px;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

footer section.left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

footer section.left ul li {
  list-style: none;
  margin: 8px auto;
}

footer section.left ul li a {
  color: var(--just-white);
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */